target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Gradle files
build/
build-logic/.gradle/
.gradle/
out/
bin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Metals ###
.bloop/
.bsp/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.direnv/

### Mac OS ###
.DS_Store

### BROKK'S CONFIGURATION ###
.brokk/**
!.brokk/style.md
!.brokk/review.md
!.brokk/project.properties

### JOERN'S CONFIGURATION ###
cpg.bin
/workspace/
